<script>
  export default {
      // props: ['user','token'],
      props: {
          user:{
              type: Object,
              default: () => ({})
          },
          token:{
              type: String
          },
          roles: {
              type: Array
          }
      },
      computed: {
          editUser(){
              return this.user ? this.user: false;
          }
      }
  }
</script>
<template>
    <form :action="user.id ? `/users/update/${user.id}`:'/users/store'" method="post" enctype="multipart/form-data">
        <input type="hidden" name="_token" :value="token">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="name" class="control-label">Nombre:</label>
                    <input required name="name" type="text" class="form-control" :value="(editUser ? editUser.name:'')">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="email" class="control-label">Correo:</label>
                    <input required name="email" type="text" class="form-control" :value="(editUser ? editUser.email:'')">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="phone" class="control-label">Teléfono:</label>
                    <input name="phone" type="text" class="form-control" :value="(editUser ? editUser.phone:'')">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="password" class="control-label">Contraseña:</label>
                    <input :required="!user.id" name="password" type="text" class="form-control"><br>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="password" class="control-label">Roles:</label>
                    <select required name="rol_id" id="" class="form-control">
                        <option value="">Seleciona un perfil</option>
                        <option :selected="editUser.role_id == role.id" v-for="role in roles" :value="role.id">{{role.name}} </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="photo" class="control-label">Foto de perfil:</label>
                    <input name="photo" type="file">
                </div>
            </div>
            <div class="col-md-2" v-if="editUser.image">
                <img class="img-thumbnail" :src="`/images/users/${editUser.image}`">
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-9 col-md-3 text-right">
                <a href="/users" class="btn btn-danger">Cancelar</a>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </form>
</template>
<style scoped></style>
