
<script>
    export default {
        props: ['data'],
        data(){
            return {
                searched: '',
                num_results: 5,
                pag:1
            }
        },
        mounted() {
            console.log(this.data)
        },
        computed:{
            search(){
                return this.data.filter((user) => (user.name.includes(this.searched) || user.email.includes(this.searched)));
            }
        }
    }
</script>
<template>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input class="form-control" type="text" v-model="searched" placeholder="Buscar: Nombre, Correo, Teléfono">
            </div>
        </div>
        <div class="col-md-offset-4 col-md-2">
            <div class="form-group">
                <a href="/users/create" class="btn btn-block btn-success"><i class="fa fa-plus"></i> Agregar usuario</a>
            </div>
        </div>
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr class="headings">
                            <th class="column-title">Nombre</th>
                            <th class="column-title">Correo</th>
                            <th class="column-title">Teléfono</th>
                            <th class="column-title">Rol</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr v-for="(user,index) of search" v-show="(pag - 1) * num_results <= index  && pag * num_results > index"> -->
                        <tr v-for="(user,index) of search" >
                            <td> <a :href="`users/edit/${user.id}`">{{user.name}} </a></td>
                            <td><a :href="`mailto:${user.email}`">{{user.email}}</a></td>
                            <td>{{user.phone ? user.phone:'No disponible'}}</td>
                            <td>{{user.role.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
