
<script>
    export default {
        props: ['data'],
        data(){
            return {
                searched: '',
            }
        },
        mounted() {
            console.log(this.data)
        },
        computed:{
            search(){
                return this.data.filter((client) => (client.name.includes(this.searched) || client.email.includes(this.searched) || client.address.includes(this.searched)));
            }
        }
    }
</script>
<template>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input class="form-control" type="text" v-model="searched" placeholder="Buscar: Nombre, Correo, Teléfono, Dirección">
            </div>
        </div>
        <div class="col-md-offset-4 col-md-2">
            <div class="form-group">
                <a href="/clients/create" class="btn btn-block btn-success"><i class="fa fa-plus"></i> Agregar cliente</a>
            </div>
        </div>
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr class="headings">
                            <th class="column-title">Nombre</th>
                            <th class="column-title">Correo</th>
                            <th class="column-title">Teléfono</th>
                            <th class="column-title">Dirección</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr v-for="(user,index) of search" v-show="(pag - 1) * num_results <= index  && pag * num_results > index"> -->
                        <tr v-for="(client, index) of search" >
                            <td><a :href="`clients/edit/${client.id}`">{{client.name}} </a></td>
                            <td><a :href="`mailto:${client.email}`">{{client.email}}</a></td>
                            <td>{{client.phone ? client.phone:'No disponible'}}</td>
                            <td>{{client.address}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
