<script>
  export default {
      // props: ['client','token'],
      props: {
          client:{
              type: Object,
              default: () => ({})
          },
          token:{
              type: String
          }
      },
      computed: {
          editClient(){
              return this.client ? this.client: false;
          }
      }
  }
</script>
<template>
    <div class="row">
        <div class="col-md-7 col-sm-12 col-xs-12">
            <div class="x_panel" style="height:600px;">
                <div class="x_title">
                    <h2 v-if="editClient.id">Editar información de <i>"{{ editClient.name }}"</i></h2>
                    <h2 v-else>Crear nuevo cliente</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-md-12">
                            <form :action="editClient.id ? `/clients/update/${editClient.id}`:'/clients/store'" method="post" enctype="multipart/form-data">
                                <input type="hidden" name="_token" :value="token">
                                <div class="row">
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label for="name" class="control-label">Nombre:</label>
                                            <input required name="name" type="text" class="form-control" :value="(editClient ? editClient.name:'')">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label for="email" class="control-label">Correo:</label>
                                            <input required name="email" type="text" class="form-control" :value="(editClient ? editClient.email:'')">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label for="phone" class="control-label">Teléfono:</label>
                                            <input name="phone" type="text" class="form-control" :value="(editClient ? editClient.phone:'')">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label for="address" class="control-label">Dirección:</label>
                                            <textarea rows="4" name="address" type="text" class="form-control" :value="(editClient ? editClient.address:'')"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-offset-6 col-md-6  col-sm-12 col-xs-12 text-right">
                                        <a href="/clients" class="btn btn-danger">Cancelar</a>
                                        <button type="submit" class="btn btn-primary">Guardar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-sm-12 col-xs-12">
            <list-judgments :client="editClient"></list-judgments>
        </div>
    </div>
</template>
<style scoped></style>
