<script>
  export default {
    props: ['client'],
    data(){
        return {
            search: ''
        }
    },
    computed: {
        editClient(){
            return this.client ? this.client: false;
        },
        searched(){
            return this.editClient.judgments.filter((judgment) => {
                return (
                judgment.num_expedient.includes(this.search) ||
                judgment.applicant.includes(this.search) ||
                judgment.defendant.includes(this.search) ||
                judgment.court.includes(this.search) ||
                judgment.type.includes(this.search))
            });
        }
    },
    methods:{
        ac(){
            let a = document.querySelectorAll('.panel-collapse');
            a.forEach((element) => {
                element.classList.remove("show");
            });
        }
    }
  }
</script>
<template>
    <div class="x_panel" style="height:600px;">
        <div class="x_title">
            <h2>Juicios</h2>

            <ul class="nav navbar-right panel_toolbox">
                <li><a style="color:#fff" class="btn btn-success btn-sm"><i class="fa fa-plus"></i> Añadir Juicio</a></li>
                <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Buscar" v-model="search">
            </div>
            <div v-if="editClient.judgments.length > 0" class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel" v-for="(judgment,index) in searched">
                    <a @click="ac()" class="panel-heading" :id="`heading-${index}`" :class="{collapsed: index > 0}" role="tab"  data-toggle="collapse" data-parent="#accordion" :href="`#tab-${judgment.id}`" :aria-controls="`#tab-${judgment.id}`">
                        <h4 class="panel-title"># {{judgment.num_expedient}}</h4>
                    </a>
                    <div :id="`tab-${judgment.id}`" :aria-labelledby="`heading-${index}`" class="panel-collapse collapse" :class="{in: index == 0}" role="tabpanel">
                        <div class="panel-body">
                            <table class="table table-judgments">
                                <tr>
                                    <td><strong>Demandante:</strong></td>
                                    <td>{{ judgment.applicant }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Demandado:</strong></td>
                                    <td>{{ judgment.defendant }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Tipo de juicio:</strong></td>
                                    <td>{{ judgment.type }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Juzgado:</strong></td>
                                    <td>{{ judgment.court }}</td>
                                </tr>
                                <tr>
                                    <td><a class="btn btn-sm btn-primary">Ver detalle</a></td>
                                    <td><a class="btn btn-sm btn-warning">Añadir acuerdo</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <h4 v-else class="text-center">Acutalmente este cliente no tiene juicios</h4>
        </div>
    </div>
</template>
<style scoped>
.table-judgments tr > td{
    padding-bottom: 10px;
}
</style>
